<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotic_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-9.52016243616072E-15 -1.94289029309402E-16 0.0155191781345583"
        rpy="0 0 0" />
      <mass
        value="0.446116144380579" />
      <inertia
        ixx="0.000224798050494485"
        ixy="-2.18020596920716E-10"
        ixz="-7.25060202849681E-19"
        iyy="0.00138255058840876"
        iyz="-2.37030607855116E-20"
        izz="0.00122839549734328" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.150031524729698 0.000191995103078102 0.0344853139404591"
        rpy="0 0 0" />
      <mass
        value="0.43178795433662" />
      <inertia
        ixx="5.96075244798525E-05"
        ixy="-4.07370544541132E-06"
        ixz="-1.02661773419375E-07"
        iyy="0.00272008694008324"
        iyz="2.06377860208473E-08"
        izz="0.00274655104559429" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 -0.04 0.05"
      rpy="1.5708 -1.57 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.205484012122796 -0.00549986783103082 0.0186225676272804"
        rpy="0 0 0" />
      <mass
        value="0.334546886253206" />
      <inertia
        ixx="9.93613919225459E-05"
        ixy="8.10971210408094E-10"
        ixz="-4.61050169328864E-09"
        iyy="0.000582195736690295"
        iyz="5.70676865975426E-09"
        izz="0.000556148638754133" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.374 0 0.0401"
      rpy="1.5708 0.0 0.0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.0"
      upper="3.0"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.00045693106510647 0.0120159218838146 0.0326962826671975"
        rpy="0 0 0" />
      <mass
        value="0.0818036914981158" />
      <inertia
        ixx="2.58771620872542E-05"
        ixy="1.52000429986836E-07"
        ixz="1.71868944443329E-08"
        iyy="3.05802737829727E-05"
        iyz="3.75710826679309E-07"
        izz="2.3497726615304E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.3384 -0.0055 0.045"
      rpy="-1.5708 -1.5708 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0717111929893778 -0.0115466248724582 0.0198054015294321"
        rpy="0 0 0" />
      <mass
        value="0.269974503355347" />
      <inertia
        ixx="0.000158676016051897"
        ixy="7.59760657382795E-08"
        ixz="5.56013658017894E-08"
        iyy="0.000126778289759083"
        iyz="2.07997464437305E-09"
        izz="0.000154960757569298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kdl_tools/model/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.00079568 0.018983 0.043"
      rpy="-1.5708 -1.5708 3.14" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="10" />
  </joint>
</robot>
